

.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.nav-links {
   display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
   list-style: none;
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

.nav-links li a {
    color: #340404;
     text-decoration: none;

}

.menu-bar li a:hover {
    color: #6c0405;
}

.menu-bar li .contact-tag {
    background-color: #6c0405;
    color: #fff;
    width: 110px;
   box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    padding-left: 5px;
    
}

.menu-bar li .contact-tag:hover {
    background-color: #8f7676b9;
    color: #340404;
}

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}



.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #340404;
}

.content .title {
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    color: #340404;
}

.message-form {
    margin-top: 30px;
}
.message-form h5 {
    width: 70%;
     font-family: 'Quicksand', sans-serif;
    color: #340404;
    margin-bottom: 30px;
}
.contact-message {
    margin-top: 30px;
}

.contact-message p {
    background-color: #6c0405;
    color: #fff;
    width: 170px;
    padding: 3px;
    border-radius: 5px;
}



.message-form input {
    border: solid #340404 2px;
    border-radius: 5px;
    box-shadow: rgb(216, 206, 206) 2px 2px;
}

.message-form button {
    background-color: #6c0405;
    border: #6c0405;
}

.message-form button:hover {
    background-color: #fff;
    color: #6c0405;
}

@media  (max-width: 800px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;

    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

   

     .nav-links.active {
        display: table-column;
        padding-top: 20px;
    }

    .content .title h1 {
        font-size: 30px;
    }

    .content .title h2 {
        font-size: 20px;
    }

    .message-form h5 {
        font-size: 15px;
    }

    .contact-message p {
        font-size: 12px;
        width: 150px;
    }
}

@media  (max-width: 330px) {

    .content .title h2 {
        max-width: 100px;
    }
}