.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    width: 100%;
}
.menu-bar ul {
    display: flex;
    right: 10px;
    list-style: none;

}

.menu-bar ul li {
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
   
}

.menu-bar li a {
     color: #340404;
     text-decoration: none;
}

.menu-bar li a:hover {
    color: #6c0405;
}


 .titlepage  {
    text-align: center;
    color: #340404; 
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    
}

 .titlepage h1 {
    font-size: 80px;
    
 }

.biography-button {
    font-size: 15px;
    border-radius: 50%;
    text-transform: uppercase;
    border: 0px #6c0405;
    background: #6c0405;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.biography-button p {
  width: 90px;
  margin-top: 10px;
}

.biography-button a {
    color: #fff;
    text-decoration: none;
}

.biography-button:hover {
    background-color: #340404;

}

.homevideo {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
}

.content hr {
    border-width: 1px;
     background-color: #340404;
}

.articles-collage{
    justify-content: center;
    align-items: center;
    display: flex;
}

.articles-collage .row {
   max-width: 600px;
    margin-bottom: 50px;
    
   
  
}


.articles-collage .col-6 img {
    width: 250px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    
}

.articles-collage .col-6 h5 {
    width: 200px;
    font-family: 'Playfair Display', serif;
     color: #340404;
}


.article-date {
    font-family: 'Quicksand', sans-serif;
    color: #34040475;
}

.read-more-tag {
    background-color: #6c0405;
    width: 90px;
    border-radius: 2px;
     box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    margin-bottom: 10px;
}

.read-more-tag a {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 5px;
}




.commitment {
    background-color: #340404;
    color: #fff;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

.commitment h4 {
    font-size: 15px;
    letter-spacing: 5px;
}

.commitment p {
    font-size: 13px;
    font-weight: lighter;
}

.commitment span {
    font-weight: 900;
}