

.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.nav-links {
   display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
   list-style: none;
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

.nav-links li a {
    color: #340404;
     text-decoration: none;

}

.menu-bar li a:hover {
    color: #6c0405;
}

.menu-bar li .contact-tag {
    background-color: #6c0405;
    color: #fff;
    width: 110px;
   box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    padding-left: 5px;
    
}

.menu-bar li .contact-tag:hover {
    background-color: #8f7676b9;
    color: #340404;
}

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}



.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #340404;
}


 .titlepage  {
    text-align: center;
    color: #340404; 
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
   
    
}

 .titlepage h1 {
    font-size: 80px;
    margin-bottom: 30px;
    
 }

.biography-button {
    font-size: 15px;
    border-radius: 50%;
    text-transform: uppercase;
    border: 0px #6c0405;
    background: #6c0405;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    margin-top: 30px;

    padding-left: 25px;
    padding-right: 25px;
    
}

.biography-button p {
  width: 80px;
  margin-top: 10px;
  
}

.biography-button a {
    color: #fff;
    text-decoration: none;
}

.biography-button:hover {
    background-color: #340404;

}

.homevideo {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
}

.content hr {
    border-width: 1px;
     background-color: #340404;
}

.articles-collage{
    justify-content: center;
    align-items: center;
    display: flex;
}

.articles-collage .row {
   max-width: 600px;
    margin-bottom: 50px;
    margin-top: 30px;
   
}

.articles-collage .col-6 {
    margin-bottom: 40px;
}

.articles-collage .col-6 img {
    width: 250px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    
}

.articles-collage .col-6 h5 {
    width: 200px;
    font-family: 'Playfair Display', serif;
     color: #340404;
     margin-top: 10px;
}


.article-date {
    font-family: 'Quicksand', sans-serif;
    color: #34040475;
}

.read-more-tag {
    background-color: #6c0405;
    width: 90px;
    border-radius: 2px;
     box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    margin-bottom: 10px;
}

.read-more-tag a {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 5px;
}




.commitment {
    background-color: #340404;
    color: #fff;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

.commitment h4 {
    font-size: 15px;
    letter-spacing: 5px;
}

.commitment p {
    font-size: 13px;
    font-weight: lighter;
}

.commitment span {
    font-weight: 900;
}



@media  (max-width: 800px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;

    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

   

     .nav-links.active {
        display: table-column;
        padding-top: 20px;
    }
}