.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    width: 100%;
}
.menu-bar ul {
    display: flex;
    right: 10px;
    list-style: none;

}

.menu-bar ul li {
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
   
}

.menu-bar li a {
     color: #340404;
     text-decoration: none;
}

.menu-bar li a:hover {
    color: #6c0405;
}


.title h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    color: #340404;
}

.articles-collage .row {
    max-width: 700px;
    margin-bottom: 50px;
}



.articles-collage .col-6 img {
    width: 300px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    
}

.articles-collage h5 {
    width: 200px;
    font-family: 'Playfair Display', serif;
     color: #340404;
}

.article-date {
    font-family: 'Quicksand', sans-serif;
    color: #34040475;
}

.read-more-tag {
    background-color: #6c0405;
    width: 90px;
    border-radius: 2px;
     box-shadow: rgb(179, 158, 158) 3px 3px 3px;
}

.read-more-tag a {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 5px;
}