

.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.nav-links {
   display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
   list-style: none;
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

.nav-links li a {
    color: #340404;
     text-decoration: none;

}

.menu-bar li a:hover {
    color: #6c0405;
}

.menu-bar li .contact-tag {
    background-color: #6c0405;
    color: #fff;
    width: 110px;
   box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    padding-left: 5px;
    
}

.menu-bar li .contact-tag:hover {
    background-color: #8f7676b9;
    color: #340404;
}

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}



.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #340404;
}

.content .title {
     text-align: center;
    color: #340404; 
    margin-top: 50px;
    font-family: 'Playfair Display', serif;

}

.month-cover img {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    
    
    
}

.content-introspect #header {
    text-align: center;
    color: #340404; 
    letter-spacing: 3px;
    font-family: 'Playfair Display', serif;
    width: 70%;
    margin: 0 auto;
    display: block;

}

.introspect-one {
    color: #340404;
    margin-top: 50px;
   
}

.introspect-one h5 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 200px;
    width: 50%;
}

.introspect-two h5 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 200px;
    width: 50%;
}

.introspect-two {
    color: #340404;
}
.content-sociopolitical #header {
    text-align: center;
    color: #340404; 
    letter-spacing: 3px;
    font-family: 'Playfair Display', serif;

}

.sociopolitical-one {
    color: #340404;
}

.sociopolitical-one h5 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 200px;
    width: 50%;
    margin-top: 40px;
}

.sociopolitical-two h5 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 200px;
    width: 50%;
}
.sociopolitical-two {
    color: #340404;
}

#author-title {
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

#author-title a {
    margin-left: 5px;
    color: #6c0405;
}

.article-tag {
    background-color: #6c0405;
    width: 110px;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    font-family: 'Quicksand', sans-serif;
    
}

.article-tag a {
    color: #fff;
}

.trigger-tag {
    background-color: #6c0405;
    width: 130px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    padding-left: 5px;
}


hr {
    background-color: #6c0405;
}
.text {
    font-family: 'Times New Roman', Times, serif;
}

.text a {
   color: #6c0405;
}

.text-image {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-image p {
    text-align: center;

}
.text-image #reflectimage1 {
    width: 600px;
    margin: 0 auto;
    display: block;
   
}

.text-image #reflectimage2 {
    width: 600px;
    margin: 0 auto;
    display: block;

}

.text-image #sociopoliticalweight {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #hypersex1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #hypersex2 {
    width: 600px;
    margin: 0 auto;
    display: block;
}

.text-image #hypersex3 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku2 {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku3 {
    width: 400px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku4 {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.text-image #introspect-jazz1 {
    width: 400px;
     margin: 0 auto;
    display: block;
}

.text-image #introspect-jazz2 {
    width: 400px;
     margin: 0 auto;
    display: block;
}

.text-image #introspect-jazz3 {
    width: 500px;
     margin: 0 auto;
    display: block;
}

.text-image #introspect-pride1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmusic1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmusic2 {
    width: 400px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmusic3 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

#disclaimer-sorority {
    text-align: center;
    margin-bottom: 80px;
}

#text-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
    margin-bottom: 30px;
}

.quote {
    
    font-style: italic;
    margin: 0 auto;
    display: block;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.quote h4 {
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}


@media  (max-width: 800px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;

    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

   

     .nav-links.active {
        display: table-column;
        padding-top: 20px;
    }

     .title h1 {
        font-size: 30px;
      
    }

    .content .title {
        margin-top: 80px;
    }

    .month-cover img {
        height: 500px;
        width: 300px;
    }

    .text-image #reflectimage1 {
        width: 400px;
    }
    

.text-image #reflectimage2 {
    width: 400px;

}

.text-image #sociopoliticalweight {
    width: 300px;
  
}

.text-image #hypersex1 {
    width: 300px;
 
}

.text-image #hypersex2 {
    width: 400px;
   
}

.text-image #hypersex3 {
    width: 300px;
  
}

.text {
    padding-left: 10px;
    padding-right: 10px;
}

}