.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.nav-links {
   display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
   list-style: none;
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

.nav-links li a {
    color: #340404;
     text-decoration: none;

}

.menu-bar li a:hover {
    color: #6c0405;
}

.menu-bar li .contact-tag {
    background-color: #6c0405;
    color: #fff;
    width: 110px;
   box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    padding-left: 5px;
    
}

.menu-bar li .contact-tag:hover {
    background-color: #8f7676b9;
    color: #340404;
}

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}



.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #340404;
}

 .title  {
    text-align: center;
    color: #340404; 
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
   
    
}

.title #disclaimer {
    font-style: italic;
    margin-top: 50px;

    text-align: center;
}


.title #disclaimer  a {
    color: #6c0405;
}

.resources-themes {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.resources-themes .lgbtq-resources {
    margin-right: 20px;
}

.resources-themes button {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: #6c0405;
    box-shadow: 2px 2px 2px #340404;
    border: 0px;
}

.resources-themes button a {
    color: #fff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    
}

.resources-themes button a:active {
    color: #fff;
}

.resource-list h1 {
    text-align: center;
    color: #340404; 
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
}

.resource-links{
    color: #340404;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.resource-links li {
    margin-top: 10px;
}

.resource-links a {
    color: #6c0405;
    font-style: italic;
}

.resource-links a:active {
    color: black;
}
















@media (max-width: 800px) {
     .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;

    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

   

     .nav-links.active {
        display: table-column;
        padding-top: 20px;
    }

    .title {
        margin-top: 100px;
    }


    .resource-list h1 {
        margin-top: 100px;
    }

    .resources-themes {
        flex-direction: column;
    }

    .resources-themes .lgbtq-resources {
        margin-right: 0px;
        margin-bottom: 0px;
    }
}