

.menu-bar {
    box-shadow: rgb(216, 206, 206) 0px 1px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.nav-links {
   display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
   list-style: none;
    margin-right: 10px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

.nav-links li a {
    color: #340404;
     text-decoration: none;

}

.menu-bar li a:hover {
    color: #6c0405;
}

.menu-bar li .contact-tag {
    background-color: #6c0405;
    color: #fff;
    width: 110px;
   box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    padding-left: 5px;
    
}

.menu-bar li .contact-tag:hover {
    background-color: #8f7676b9;
    color: #340404;
}

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}



.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #340404;
}
.content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #340404; 
    font-family: 'Playfair Display', serif;
   

}

.content .title h1 {
    text-align: center;
    max-width: 70%;
    margin-top: 50px;
}

.title-date {
    list-style: none;
    color:#340404 ;
   
}
.title-date #author-title {
    display: flex;
}

#author-title a {
    color: #6c0405;
    margin-left: 5px;
}

.title-date #article-date {
    color: rgb(179, 158, 158);
}

hr {
    background-color: #6c0405;
}

.article-text {
    font-family: 'Times New Roman', Times, serif;
    color: #340404;
    margin-top: 50px;
}
.article-text a {
   color: #6c0405;
}

.text-image p {
    text-align: center;

}
.text-image #reflectimage1 {
    width: 600px;
    margin: 0 auto;
    display: block;
   
}

.text-image #reflectimage2 {
    width: 600px;
    margin: 0 auto;
    display: block;

}

.text-image #sociopolitical1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #hypersex1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #hypersex2 {
    width: 600px;
    margin: 0 auto;
    display: block;
}

.text-image #hypersex3 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.trigger-tag {
    background-color: #6c0405;
    width: 130px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    position: absolute;
    right: 100px;
    padding-left: 5px;
}

.article-tag {
    background-color: #6c0405;
    width: 110px;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: rgb(179, 158, 158) 3px 3px 3px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    
}

.article-tag a {
    color: #fff;
}

.text-image #sociopoliticalmaluku {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku2 {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku3 {
    width: 400px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmaluku4 {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.text-image #introspect-jazz1 {
    width: 400px;
     margin: 0 auto;
    display: block;
}

.text-image #introspect-jazz2 {
    width: 400px;
     margin: 0 auto;
    display: block;
}

.text-image #introspect-jazz3 {
    width: 500px;
     margin: 0 auto;
    display: block;
}

.text-image #introspect-pride1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmusic1 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmusic2 {
    width: 400px;
    margin: 0 auto;
    display: block;
}

.text-image #sociopoliticalmusic3 {
    width: 500px;
    margin: 0 auto;
    display: block;
}

#disclaimer-sorority {
    text-align: center;
    margin-bottom: 80px;
}

#text-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
    margin-bottom: 30px;
}

.quote {
    
    font-style: italic;
    margin: 0 auto;
    display: block;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.quote h4 {
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}


@media  (max-width: 800px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;

    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

   

     .nav-links.active {
        display: table-column;
        padding-top: 20px;
    }

    .content .title h1 {
        font-size: 25px;
        margin-top: 80px;
    }

    .article-text {
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 20px;
    }

        .text-image #reflectimage1 {
        width: 400px;
    }
    

    .text-image #reflectimage2 {
    width: 400px;

    }

    .text-image #sociopolitical1 {
    width: 300px;
  
    }

    .text-image #hypersex1 {
    width: 300px;
 
    }   

    .text-image #hypersex2 {
    width: 400px;
   
    }

    .text-image #hypersex3 {
    width: 300px;
  
    }
    .content .title h1 {
        margin-bottom: 20px;
    }

    .trigger-tag {
        position: relative;
        right: 0px;
        margin-left: 35px;
    }

}